*           text=auto linguist-vendored=true

*.md        text eol=lf

Makefile*   text eol=lf
*.c         text eol=lf linguist-vendored=false
*.h         text eol=lf linguist-vendored=false
*.cpp       text eol=lf linguist-vendored=false
*.hpp       text eol=lf linguist-vendored=false
*.dll       binary
*.so        binary
*.a         binary

*.sh	    text eol=lf
*.bat       text eol=crlf

*.png       binary
*.jpeg      binary
*.jpg       binary 
*.bmp       text 
*.svg       text

README      text eol=lf
INSTALL     text eol=lf
VERSION     text eol=lf
ChangeLog   text eol=lf

include/example/*  linguist-vendored=true
lib/*        linguist-vendored=true
